
body {
    margin: 0;
}

header {

}

#main_header {
    color:white;
    height: 100vh;
    background-color: black;
    background-image: url("../images/header.jpg");
    background-size: cover;
    background-position: center;
    font-family: 'Amatic SC';

    display: flex;
    /*flex-direction: column-reverse;*/

    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

#main_header h1 {
    font-size: 10rem;

}

#main_header h1 &:hover {

}

#main_header h4 {
    font-size: 50px;
}


.main_content {
    /*font-family: 'Amatic SC';*/
    max-width: 600px;

    margin: 0 auto 20px;
    justify-content: center;
}
