
body {
    margin: 0;
}

header {
    height: 100vh;
    background-color: black;
    background-image: url("../images/header.jpg");
    background-size: cover;
    background-position: center;
    font-family: 'Amatic SC';
    font-size: 3.0rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}


h1, h4{
    color: white;
}


.main_content {
    max-width: 600px;
    margin: 0 auto 20px;
    align-content: center;
}
