html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Amatic SC", "Roboto Mono", monospace;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87); }

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87); }
  a:hover, a:focus {
    color: #4ad7b1; }

.container {
  padding: 0;
  margin: 0 auto;
  width: 1440px;
  max-width: 90%;
  text-align: center; }

.title {
  font-family: "Amatic SC";
  font-size: 3.5rem;
  font-weight: 700; }

.sub_title {
  font-size: 2.5rem;
  font-family: "Amatic SC"; }

.text {
  font-family: "Roboto Mono"; }

.navbar {
  position: fixed;
  margin: 0;
  width: 100%;
  background-color: transparent;
  border-bottom: none;
  height: 2.5em; }
  .navbar .container {
    padding: 1em 0 1em 0;
    width: 100%;
    align-self: center; }
  .navbar .navbar-brand {
    margin: 0;
    color: #fff; }
    .navbar .navbar-brand .title {
      text-decoration: none; }
  .navbar .nav li {
    white-space: nowrap; }
    .navbar .nav li a {
      color: rgba(255, 255, 255, 0.75); }
      .navbar .nav li a:hover {
        color: #fff;
        font-size: 3.2rem; }

.shrink {
  margin-bottom: 3rem;
  background: rgba(0, 0, 0, 0.87);
  height: 2.25em;
  box-shadow: 0.15em 0 0.25em 0.2em rgba(0, 0, 0, 0.67); }
  .shrink .container {
    padding: 0.25em;
    width: 80%; }
  .shrink .title {
    font-size: 2.5rem;
    color: rgba(255, 255, 255, 0.9); }
  .shrink .nav li a {
    font-size: 2.5rem;
    color: rgba(255, 255, 255, 0.9); }

#home {
  height: 100vh;
  padding: 0;
  background: url("../images/header.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: none;
  background-color: transparent;
  background-attachment: fixed;
  text-align: center; }
  #home .heading_content {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%); }
    #home .heading_content #home_title {
      color: rgba(255, 255, 255, 0.9);
      font-weight: 700;
      padding: 0;
      text-align: center; }
      #home .heading_content #home_title .title {
        font-size: 10rem;
        margin: 0; }
      #home .heading_content #home_title .sub_title {
        margin: 0.3em;
        font-size: 4rem; }
    #home .heading_content #heading_contact {
      margin: 2em 1.5em;
      background: rgba(255, 255, 255, 0.75);
      border-radius: 0.3rem;
      font-size: 2rem;
      font-family: "Roboto Mono";
      display: flex;
      justify-content: center; }
      #home .heading_content #heading_contact p {
        font-size: 2rem;
        padding: 0 0.5em;
        margin: 0; }
      #home .heading_content #heading_contact a {
        padding: 0.1em 0;
        color: rgba(0, 0, 0, 0.87); }
        #home .heading_content #heading_contact a:hover, #home .heading_content #heading_contact a:focus {
          text-decoration: none;
          color: rgba(255, 255, 255, 0.9); }
        #home .heading_content #heading_contact a span {
          color: rgba(0, 0, 0, 0.87); }
  #home #down_chevron {
    color: rgba(255, 255, 255, 0.9);
    position: absolute;
    left: 50%;
    bottom: 5%; }
    #home #down_chevron:hover, #home #down_chevron:focus {
      color: #4ad7b1; }

.large-window {
  height: 400px;
  width: 100%;
  background-image: url(../images/1.jpg);
  background-position: top center;
  background-repeat: no-reapeat;
  background-attachement: fixed; }

footer {
  background: rgba(0, 0, 0, 0.87); }
  footer .title {
    color: #fff; }
  footer .text {
    padding: 2rem;
    color: #fff; }

/*# sourceMappingURL=main.css.map */
