$main: rgba(#000000, 0.87)
$uber_light_grey: #d6d6d6
$whiteish: rgba(#fff, 0.4)
$white: rgba(#fff, 0.9)
$highlight: #4ad7b1




html, body
  margin: 0
  padding: 0
  height: 100%
  width: 100%
  font-family: 'Amatic SC', 'Roboto Mono', monospace
  font-size: 16px
  color: $main

a
  text-decoration: none
  color: $main
  &:hover, &:focus
    color: $highlight

.container
  padding: 0
  margin: 0 auto
  width: 1440px
  max-width: 90%
  text-align: center

.title
  font-family: 'Amatic SC'
  font-size: 3rem
  font-weight: 700

.sub_title
  font-size: 2.5rem
  font-family: 'Amatic SC'

.text
  font-family: 'Roboto Mono'





.navbar
  margin: 0
  width: 100%
  background-color: transparent
  border-bottom: none
  height: 2.5em

  .container
    padding: 1em 0 1em 0
    width: 100%
    align-self: center

  .navbar-brand
    margin: 0
    color: #fff
    .title
      text-decoration: none

  .nav
    li
      a
        color: #fff
        &:hover
          // color: $highlight
          text-decoration: underline


.shrink
  // background-color: #fff
  background: $main
  font-size: 1.75rem
  height: 2.25em
  .container
    padding: 0.25em

  .title
    // color: $main
    color: $white
  .nav
    li
      a
        color: $white
        // color: $main


#home
  height: 100vh
  padding: 0
  background: url("../images/1.jpg")
  background-position: center
  background-size: cover
  background-repeat: none
  background-color: transparent
  position: relative
  text-align: center
  // opacity: 0.7


  .heading_content
    position: absolute
    top: 55%
    left: 50%
    transform: translate(-50%, -50%)

    #home_title
      color: $white
      font-weight: 700
      padding: 0
      text-align: center
      .title
        font-size: 10rem
        margin: 0

      .sub_title
        margin: 0.3em
        font-size: 4rem

    #heading_contact
      margin: 2em 1.5em
      background: $whiteish
      border-radius: 0.3rem
      font-size: 2rem
      font-family: 'Roboto Mono'
      display: flex
      justify-content: center
      p
        font-size: 2rem
        padding: 0 0.5em
        margin: 0
      a
        padding: 0.1em 0
        color: $main
        &:hover, &:focus
          text-decoration: none
          color: $highlight
        span
          &:hover, &:focus
          color: $main

  #down_chevron
    color: $white
    position: absolute
    left: 50%
    bottom: 5%
    &:hover, &:focus
      color: $highlight



footer
  background: $main
  .title
    color: #fff
  .text
    padding: 2rem
    color: #fff
