$main: rgba(#000000, 0.87)
$lightBlack: rgba(#000000, 0.54)
$shadow: rgba(#000000, 0.67)
$uber_light_grey: #d6d6d6
$whiteish: rgba(#fff, 0.75 )
$white: rgba(#fff, 0.9)
$transparent: rgba(#fff, 0.3)
$highlight_blue: #217cb4
$highlight: #4ad7b1

html, body
  margin: 0
  padding: 0
  height: 100%
  width: 100%
  font-family: 'Roboto',sans-serif, 'Roboto Mono', monospace
  font-size: 16px
  color: #000

// fonts styles
.title, .sub_title
  font-weight: 300
  text-transform: uppercase


.sub_title
  // font-size: 2.5rem

.title
  // font-size: 2rem

.text
  font-size: 1rem
  font-weight: 100

.quote
  // font-family:
  font-style: italic

a
  text-decoration: none
  color: #000
  &:hover, &:focus
    color: #000
    text-decoration: none


    // text-decoration:

.container
  padding: 0
  margin: 0 auto
  width: 1440px
  max-width: 90%
  text-align: center


.list_shite
  list-style: none


// ============= NAVBAR STYLES ==============
.navbar
  // height: 1.25em

  height: 1.5em
  position: fixed
  margin: 0
  width: 100%
  background-color: transparent
  border-bottom: none
  // background: white

  .container
    padding: 0.25em 0 0.25em 0
    width: 80%
    align-self: center


  #navbar-logo
    color: $whiteish
    padding: 0
    margin: 0
    display: flex
    align-items: center
    justify-content: center
    text-decoration: none
    white-space: nowrap
    &:hover, &:focus
      border-bottom: 0.1rem solid #000
      color: #fff

  .nav
    li
      white-space: nowrap
      a
        font-size: 1rem
        font-weight: 400
        color: $whiteish
        // color: #000
        &:hover, &:focus
          // text-decoration: underline
          // color: #000
          // color: $highlight_blue
          // background: $transparent
          // border-radius: 0.21rem
          // border: 1px $main
          // font-size: 1.15em
          // color: #000
          // border-bottom: 0.15rem solid #000
          // // box-shadow: 0px 2px 0 #000
          // display: inline-block
          // line-height: 0.25
          // position: relative:
          // TODO: bottom border



//=============== SMALL NAVBAR =====================
.navbar-small
  // background-color:
  background: white
  height: 1.25em
  box-shadow: 0rem 0.25rem 0.25rem $shadow
  .container
    padding: 0.2em 0 0.2em 0
    margin: 0 auto
    width: 8  0%
  .title
    font-size: 1.75rem
    color: #000
    // color: $whiteish
  #navbar-logo
    color: #000
  .nav
    li
      a
        // color: $white
        color: #000


//============ home styles ===============================
#home
  height: 100vh
  padding: 0
  background: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ), url('../images/header1.jpg')
    // image: url(../images/header1.jpg)
    size: cover
    position: top
    repeat: no-repeat
    attachment: fixed
    // position: relative
  text-align: center


  .heading_content
    position: absolute
    top: 55%
    left: 50%
    transform: translate(-50%, -50%)

    #home_title
      color: #fff
      padding: 0
      text-align: center
      .title
        text-transform: uppercase
        font-weight: 700
        font-size: 10rem
        margin: 0

      .sub_title
        margin: 0em
        font-size: 1.5rem
        font-weight: 100
        color: $whiteish

    #heading_contact
      margin: 2em 1.5em
      background: rgba($whiteish, 0.5)
      border-radius: 0.3rem
      font-size: 1.5rem
      font-family: 'Roboto Mono'
      display: flex
      justify-content: center
      p
        font-size: 2rem
        padding: 0 0.5em
        margin: 0
      a
        padding: 0.1em 0
        color: $main
        &:hover, &:focus
          text-decoration: none
          color: $highlight
        span
          &:hover, &:focus
          color: $main

  #down_chevron
    color: $whiteish
    position: absolute

    bottom: 5%
    &:hover, &:focus
      font-size: 1.3em
      color: $white

//================ About styles ==========================
#about
  .title
    margin: 2rem 0
    text-align: center

  .title::after
    content: ''
    height: 2px
    max-width: 80px
    display: block
    margin: 0.5em auto
    background: #000

//================ projects styles ==========================
#projects
  list-style: none
  li
    display: flex
    align-items: stretch
//================ large window styles ==========================
.large-window
  margin: 0
  padding: 0
  height: 500px
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  background:
    size: cover
    position: center
    repeat: no-reapeat
    attachment: fixed

#first_window
  background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url("../images/svartisen.jpg")
  background-position: top
  .quote
    color: #fff
    font-size: 2.5rem

#last_window
  background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ),url(../images/beach.jpg)

  .quote
    color: #fff
    font-size: 2.5rem


//================ footer styles ==========================
// footer
//   margin: 0
//   padding: 0

#contact
  background: white
  // padding: 0.5em 0 1em 0
  padding: 0
  font-size: 2.35rem
  text-align: center
  align-items: center
  .title
    color: $main
    margin: 0
  a
    color: $main
    font-weight: 400
    padding: 1em 2em
    &:hover, &:focus
      // color: $highlight_blue
      color: $main

  #source
    font-family: 'Roboto Mono'
    font-size: 0.5em
    padding: 1rem

  .contact_list
    list-style: none
    margin: 0
    padding-top: 0.75em
    li
      display: inline

  .copyright
    // margin-bottom: 1rem
    padding-bottom: 1rem
    color: $lightBlack
    font-size: 0.25em

#fuck
  font-weight: 100
